# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.db
*.sqlite3
*.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
*.env
*.cover
.coverage
coverage.xml
*.spec
.mypy_cache/
.pytest_cache/
.tox/
.cache/
pip-wheel-metadata/
*.manifest
*.bak

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# Matlab
*.asv
*.m~
*.mat
*.fig
*.mdl
*.slx
*.mex*
*.autosave
*.prj
*.tmproj
*.mlproj
*.log
*.out
*.bak
*.user
*.xvg

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini